.custom-hover-off:hover {
  background-color: transparent !important;
}

#navbarBasicExample a.active {
  border-bottom: 3px solid #00d1b2;
}

#submitBtn button:hover {
  background-color: hsl(204, 86%, 53%);
}

.custom-box {
  height: 240px;
  min-width: 150px;
  transition: all 0.3s ease;
}

.custom-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
}

.box-margin {
  margin-left: 10rem;
  margin-right: 10rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.fixed-bottom-right {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

/* Custom-CSS.css */

@media screen and (max-width: 768px) {
  .navbar-end {
    margin-top: 20px;
  }

  .navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}


@media screen and (min-width: 1024px) {
  .bx-container {
    margin: 0rem 3rem 0 3rem;
  }
}

.custom-sign-in-line {
  display: flex;
  align-items: center;
  position: relative;
}

.left-line,
.right-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc; /* Adjust the line color as needed */
}

.sign-in-text {
  padding: 0 10px;
}

.custom-bordered-div {
  border: 1px solid #ccc; /* Adjust border color and size as needed */
  padding: 10px; /* Optional: Add padding for better visual appearance */
}
